html,
body {
    margin: 0;
    padding: 0;
}

.main {
    background-color: #B0CCAB;
    padding: 40px;
    width: 35%;
    height: 200px;
    margin: auto;
    margin-top: 50px;
}

.main__paragraph {
    left: 40px;
    position: relative;
    float: left;
}